body {
    margin: 0;
    padding: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gameCanvas {
    background-color: #008000;
    border: 3px solid #fff;
}